<div class="col d-flex justify-content-center">
  <div class="card center" style="width: 18rem;">
    <div class="card-body">
  <form id="addqn" [formGroup]="addqn" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="question">questions</label>
      <input type="text" class="form-control" formControlName="question" id="question">

    </div>
    <div class="form-group">
      <label for="desc">Description</label>
      <input type="text" class="form-control" formControlName="desc" id="desc" placeholder="Description">
    </div>
    <div class="form-group">
      <label for="userip">Your input</label>
      <textarea style="white-space: pre-line" class="form-control" formControlName="userip" id="userip">
    </textarea>
      </div>
    <div class="form-group">
      <label for="expop">Expected Output</label>
      <input type="text" class="form-control" formControlName="expop" id="expop" placeholder="expop">
    </div>
    <div class="form-group">
      <label for="hdip">Test case input</label>
      <input type="hdip" class="form-control" formControlName="hdip" id="hdip" placeholder="hdip">
    </div>
    <div class="form-group">
      <label for="hdop">Test case output</label>
      <input type="hdop" class="form-control" formControlName="hdop" id="hdop" placeholder="hdop">
    </div>

    <button form="addqn" type="submit" class="btn btn-primary">AddQn</button>
  </form>
  </div>
  </div>
  </div>
