<h2>Lets code {{currentusername}}</h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-center">
        <div class="card bg-primary">
            <div class="card-body">
              <button class="btn-warning"(click)="getQn()">Start</button>
              <form [formGroup]="codingfrom" (ngSubmit)="runcode()">
              Language: <select class="form-control" formControlName="language">
              <option value="c">C Language</option>
              <option value="java">Java</option>
              <option value="py">Python</option>
              </select>

              <br>
              <h5>Code :</h5> <textarea rows="15" cols="90" class="form-control" formControlName="code"></textarea>
              <button  class="btn-danger">Reset code</button>
              <button  type="submit" class="btn-warning">Compile</button>
              <button  class="btn-success">Save</button>
              </form>
            </div>
        </div>
      </div>

      <div class="col-sm-6">
        <button  class="btn-warning"(click)="prevItem()">Prev</button>
        <button  class="btn-warning"(click)="nextItem()">Next</button>

        <p>Program : {{question}}</p>
        <p>Description:{{desc}}</p>
        <p>Input:{{userip}}</p>
        <p>Expected Output:{{expop}}</p>
        <p>Output:{{result}}</p>
        <p>Test Case1:{{testcase1}}</p>
        <p>Test Case2:{{testcase2}}</p>

      </div>



    </div>
</div>



