<h2>Lets code {{currentusername}}</h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-center">
        <div class="card bg-primary">
            <div class="card-body">
              <button class="btn-warning"(click)="getQn()">Start</button>
              <form [formGroup]="codingfrom" (ngSubmit)="runcode()">
              Language: <select class="form-control" formControlName="language">
              <option value="c">C Language</option>
              <option value="java">Java</option>
              <option value="py">Python</option>
              </select>
              <div *ngIf="codingfrom.controls['language'].invalid && (codingfrom.controls['language'].dirty || codingfrom.controls['language'].touched)" class="alert alert-danger">
                <div *ngIf="codingfrom.controls['language'].errors">
                  Language is required.
              </div>
              </div>

              <br>
              <h5>Code :</h5> <textarea rows="15" cols="90" class="form-control" formControlName="code" [(ngModel)]="code"></textarea>
              <div *ngIf="codingfrom.controls['code'].invalid && (codingfrom.controls['code'].dirty || codingfrom.controls['code'].touched)" class="alert alert-danger">
                <div *ngIf="codingfrom.controls['code'].errors">
                  Code is required.
              </div>
              </div>
              <button  class="btn-danger" (click)="reset()">Reset code</button>
              <button  type="submit" class="btn-warning">Compile</button>
              <button  class="btn-success" (click)="save()">Save</button>
              </form>
            </div>
        </div>
      </div>

      <div class="col-sm-6">
        <button  class="btn-warning"(click)="prevItem()">Prev</button>
        <button  class="btn-warning"(click)="nextItem()">Next</button>

        <p style="white-space: pre-line"><b>Program</b> : {{question}}</p>
        <p style="white-space: pre-line"><b>Description</b>: {{desc}}</p>
        <p style="white-space: pre-line"><b>Input</b>: <br>{{userip}}</p>
        <p style="white-space: pre-line"><b>Expected Output</b>:<br> {{expop}}</p>
        <p style="white-space: pre-line"><b>Output</b>:<br>{{result}}</p>
        <p><b>Test Case1</b>:<br>{{testcase1}}</p>
        <p><b>Test Case2</b>:<br>{{testcase2}}</p>
        <p><b>Score</b>:<br>{{score}}</p>

      </div>



    </div>
</div>



