<div class="col d-flex justify-content-center">

<div class="card center" style="width: 18rem;">
  <div class="card-body">
<form [formGroup]="loginform" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="username">Email address</label>
    <input type="username" class="form-control" formControlName="username" id="username"  placeholder="username">
    <div *ngIf="loginform.controls['username'].invalid && (loginform.controls['username'].dirty || loginform.controls['username'].touched)" class="alert alert-danger">
      <div *ngIf="loginform.controls['username'].errors">
      Name is required.
    </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" formControlName="password" id="password" placeholder="password" required>
    <div *ngIf="loginform.controls['password'].invalid && (loginform.controls['password'].dirty || loginform.controls['password'].touched)" class="alert alert-danger">
      <div *ngIf="loginform.controls['password'].errors">
        password is required.
    </div>
    </div>
  </div>


  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
</div>
</div>
