<div class="col d-flex justify-content-center">
    <div class="card center" style="width: 18rem;">
      <div class="card-body">
    <form id="updateqn" [formGroup]="updateqn" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="question">Questions</label>
        <input type="text" class="form-control" formControlName="question" id="question" [(ngModel)]="question">
        <div *ngIf="updateqn.controls['question'].invalid && (updateqn.controls['question'].dirty || updateqn.controls['question'].touched)" class="alert alert-danger">
          <div *ngIf="updateqn.controls['question'].errors">
            question is required.
        </div>
        </div>
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <input type="text" class="form-control" formControlName="desc" id="desc" [(ngModel)]="desc">
        <div *ngIf="updateqn.controls['desc'].invalid && (updateqn.controls['desc'].dirty || updateqn.controls['desc'].touched)" class="alert alert-danger">
          <div *ngIf="updateqn.controls['desc'].errors">
            desc is required.
        </div>
        </div>
      </div>
      <div class="form-group">
        <label for="userip">Your input</label>
        <textarea style="white-space: pre-line" class="form-control" formControlName="userip" id="userip" [(ngModel)]="userip">
      </textarea>
      <div *ngIf="updateqn.controls['userip'].invalid && (updateqn.controls['userip'].dirty || updateqn.controls['userip'].touched)" class="alert alert-danger">
        <div *ngIf="updateqn.controls['userip'].errors">
          desc is required.
      </div>
      </div>
        </div>
      <div class="form-group">
        <label for="expop">Expected Output</label>
        <input type="text" class="form-control" formControlName="expop" id="expop" [(ngModel)]="expop">
        <div *ngIf="updateqn.controls['expop'].invalid && (updateqn.controls['expop'].dirty || updateqn.controls['expop'].touched)" class="alert alert-danger">
          <div *ngIf="updateqn.controls['expop'].errors">
            expop is required.
        </div>
        </div>
      </div>
      <div class="form-group">
        <label for="hdip">Test case input</label>
        <textarea style="white-space: pre-line" type="hdip" class="form-control" formControlName="hdip" id="hdip" [(ngModel)]="hdip">
        </textarea>
          <div *ngIf="updateqn.controls['hdip'].invalid && (updateqn.controls['hdip'].dirty || updateqn.controls['hdip'].touched)" class="alert alert-danger">
          <div *ngIf="updateqn.controls['hdip'].errors">
            hdip is required.
        </div>
        </div>
      </div>
      <div class="form-group">
        <label for="hdop">Test case output</label>
        <input type="hdop" class="form-control" formControlName="hdop" id="hdop" [(ngModel)]="hdop">
        <div *ngIf="updateqn.controls['hdop'].invalid && (updateqn.controls['hdop'].dirty || updateqn.controls['hdop'].touched)" class="alert alert-danger">
          <div *ngIf="updateqn.controls['hdop'].errors">
            hdop is required.
        </div>
        </div>
      </div>

      <button form="updateqn" type="submit" class="btn btn-primary">Update</button>
    </form>
    </div>
    </div>
    </div>
