<br>
<button class="btn btn-success" routerLink="/Teacherviewqn">View Questions</button>
<button class="btn btn-success" routerLink="/TeacherAddQn">Add New Question</button>
<button class="btn btn-primary" routerLink="/usersearch">View Students List</button>
<button class="btn btn-danger" routerLink="/Viewresults">View Students Score</button>

<table class='table'>
  <thead>
      <tr>
          <th>Username</th>
          <th>Mobile</th>

      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users;">
          <td>{{user.username}}</td>
          <td>{{user.mobile}}</td>

      </tr>
  </tbody>
</table>
